<html>
    <head>
        <title> Car Price Prediction </title>
    </head>
    <body style="background-color:darkcyan;">
            <form align="center" action = "{{ url_for('predict')}}" method = "POST">
                <br><br>
                <h2>Present_Price: <input type="text" name = "Present_Price" required="required"/>
                <br><br>
            
                Kms_Driven: <input type="number" name = "Kms_Driven"/> 
                <br><br>
            
                Year_purchased: <input type="number" name = "Year"/>
                <br><br>
            
                 Fuel_Type: <select name = "Fuel_Type">
                    <option value="Diesel"> Diesel </option>
                    <option value="Petrol"> Petrol </option>
                    <option value="Gas"> Gas </option>
                </select>
                <br><br>
                    
                Transmission: <select name = "Transmission">
                    <option value="Manual"> Manual </option>
                    <option value="Automatic"> Automatic </option>
                </select>
                <br><br>
                                   
                    <input type="submit" value="submit"  style="font-size:20px;height:40px;width:100px"> </h2>
            </form>                      
           <br>
           <br>
       <center> <h1> {{ prediction_text }}  </h1> </center>
            
    </body>
</html>